<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Charlotte's Collection of Things">
    <meta name="author" content="Charlotte W.">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- <link rel="shortcut icon" href="/images/favicon.ico"/>
    <link rel="apple-touch-icon" href="/images/apple-touch-icon-precomposed.png"/> -->

    <link rel="stylesheet" href="https://jvimedia.org/static/bootstrap-3.1.1/css/bootstrap.min.css"/>

    <link rel="stylesheet" href="/static/css/font-awesome.css">

    <link rel="stylesheet" href="/static/css/font-awesome.min.css">

    <link rel="stylesheet" href="/static/octicons/octicons.css">

    <title>{% block title "Purplapp" %}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://jvimedia.org/static/bootstrap-3.1.1/css/bootstrap.css">

    <!-- Modifications -->
    {% block stylesheets %}
    {% endblock %}

    <script type="text/javascript" src="/static/js/chart.js"></script>

    <script src="//use.typekit.net/jch6axs.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif] -->
    </head>

    <body>
        {% block content "" %}
        {% block javascripts %}
        <!-- Bootstrap core JavaScript -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://jvimedia.org/static/jquery/2.1.1/jquery-2.1.1.min.js"></script>
        <script src="https://jvimedia.org/static/bootstrap-3.1.1/js/bootstrap.min.js"></script>
        <script src="https://jvimedia.org/static/bootstrap/js/tooltip.js"></script>
        <script type="text/javascript">
          $('.tooltip-social').tooltip();
        </script>
        <script>
          // Scrolls to the selected menu item on the page
          $(function() {
            $('a[href*=#]:not([href=#])').click(function() {
              if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                  $('html,body').animate({
                    scrollTop: target.offset().top
                  }, 1000);
                  return false;
                }
              }
            });
          });
        </script>
        {% endblock %}
    </body>